@tailwind base;
@tailwind components;
@tailwind utilities;

.main_font {
  font-family: var(--font-yomogi);
}
body {
  color: #545253;
  --primary: #f2e9e4;
  --primary_dark: #c9ada7;
  --secondary: #b5838d;
  --secondary_dark: #906069;
  --tertiary: #9a8c98;
}

.screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 10000;
}
.box {
  width: 5vw;
  height: 5vw;
  background: var(--primary);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}